* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
  font-family: rowd_f;
  src: url(../fonts/Rowdies/Rowdies-Light.ttf);
}
@font-face {
  font-family: rowd_f;
  src: url(../fonts/Rowdies/Rowdies-Bold.ttf);
	font-weight: 900;
}
body {
  background-color: #010101;
  font-family: rowd_f, sans-serif;
  line-height: 1.55;
}
.main-header {
  position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
  opacity: .94;
	height: calc(var(--index) * 10);
	background-image: url(../img/IMG_6.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  z-index: 1;
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 3.7), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 6.9), 0);
}
.layer__header {
	z-index: 2;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.65);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -20), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: -1px;
	/* z-index: 0; */
}
.main-article__whale {
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 12%;
  height: 350px;
  width: 350px;
  opacity: .90;
  transform: translate3d(0, calc(var(--scrollTop) / 4.5), 0);
  transition: var(--transition);
	will-change: transform;
  z-index: 0;
}
.main-article__header {
	font-size: calc(var(--index) * 1.4);
	letter-spacing: calc(var(--index) / 7.5);
  margin-top: calc(var(--index) / 1.4);
  transform: translate3d(0, calc(var(--scrollTop) / -8.5), 0);
	transition: var(--transition);
	will-change: transform;
  color: #C446FF;
  text-shadow: 0 0 5px #587EFF;
  opacity: .90;
  z-index: 2;
}
.main-article__paragraph {
  opacity: .80;
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.4);
  transform: translate3d(0, calc(var(--scrollTop) / -8.5), 0);
	transition: var(--transition);
	will-change: transform;
  z-index: 2;
}
.content {
	will-change: transform;
}
.layer__down {
  /* background-size: 100%;
  background-repeat: no-repeat; */
  position: fixed;
  bottom: 22%;
  width: 100vw;
  opacity: .95;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
	will-change: transform;
  z-index: 2;
}
.copy {
  position: fixed;
  bottom: 21%;
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
  transition: var(--transition);
	will-change: transform;
  z-index: 3;
}
@media (max-width: 767px) {
	.main-article__whale {
		position: absolute;
		bottom: 0;
		transform: none;
		transition: none;
		will-change: none;
		bottom: 50px;
	}
	.layer__down {
		position: absolute;
		bottom: 0;
		transform: none;
		transition: none;
		will-change: none;
	}
	.copy {
		position: absolute;
		bottom: 0;
		transform: none;
		transition: none;
		will-change: none;
		padding-bottom: 30px;
	}
}